.infoBox {
  background-color: #fff;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid #7d3fb8;
  border-radius: 3px;
  margin-top: 10px;
}
.infoBox p {
  padding: 0 15px;
}
.infoBox:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #7d3fb8;
  top: -10px;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  left: 138px;
}

#mapa {
  margin: 0 auto;
  height: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.nav-wrapper {
  background-color: #7d3fb8;
}

.container {
  width: 100%;
}

#nav-mobile {
  background-color: #decdee;
}
