.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #422e53;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#422e53),
    to(#1a1221)
  );
  background: linear-gradient(to bottom, #422e53 0%, #1a1221 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422e53', endColorstr='#1a1221', GradientType=0);
  z-index: 99999999999;
}

body {
  background: #decdee;
}

.pin {
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 0;
  background: #7d3fb8;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 20%;
  margin: -19px 0 0 -28.5px;
}
.pin:after {
  content: "";
  width: 34px;
  height: 34px;
  margin: 13px 0 0 13px;
  background: #562b7f;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background-color: #1a1221;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 21%;
  margin: 45px -14px -15px -6px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  background-color: #1a1221;
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -10px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #7d3fb8;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
#desenvolvidopor {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  padding-top: 15%;
}

#contribuicoes {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  padding-top: 70%;
}
